{
    "token": "Bot -> Build-a-Bot -> Reset Token (NB: not the 'client secret')"
    "clientId": "OAuth2 -> General -> 'client id' string"
    "testGuild": "Right click your testing server -> Copy Server ID"
}
